*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Compass', sans-serif;
	font-family: 'Compass LT', sans-serif; */
	font-family: 'TASA Orbiter Display', sans-serif;
	/* font-family: 'TASA Orbiter Deck', sans-serif; */
	/* font-family: 'TASA Orbiter Text', sans-serif; */
	scroll-behavior: smooth;
}

#main {
	width: 100vw;
	overflow: hidden;
}

body{
	background-color: #e8e8e8;
	letter-spacing: 0.5px;
	/* color: #FFFFFF; */
}
h1 {
	font-family: 'Bakbak One', display;
	letter-spacing: -0.7px;
	text-align: left;
	/* color: #FFFFFF; */
}
h2 {
	/* font-family: 'Major Mono Display', sans-serif; */
	font-family: 'Bakbak One', display;
	/* font-family: 'Archivo Black', sans-serif; */
	font-size: 40px;
	letter-spacing: 2px;
}
.col-12{
	padding: 0;
}
#home {
	background: url(images/background.jpg);
	background-size: fill;
	/* background-position-x: right; */
	/* background-position: center;	 */
	/* background-attachment: fixed;
	background-position: center;
	background-size: auto;
	background-repeat: repeat; */
	background-color: #0e33ba91;
}
.home-group {
	background-attachment: fixed;
	background-position: center;
	background-size: auto;
	background-repeat: repeat;
	background-color: transparent;
	background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
	padding-top: 15vh;
	padding-bottom: 15vh;
	font-size: 18px;
	margin: 0 auto;
	line-height: 2;
	text-align: justify;
	color: #FFFFFF;
	text-shadow: 0px 1px 5px #0b34ba;
	font-weight: 500;
}
.home-group-name {
	display: inline-flex;
	flex-direction: column;
	position: relative;
	font-family: 'Bakbak One', display;
	z-index: 10;
}
.home-group-name-underline {
	width: 330px;
	position: absolute;
	left: 0;
	bottom: 10px;
	height: 12px;
	background-color: #534bf9;
	z-index: -1;
} 
.jumbotron{
	max-width: 100%;
	height: auto;
	background-color: transparent !important;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 !important;
	/* color: rgb(82, 81, 81); */
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.jumbotron p{
	font-size: 18px;
}

#scrollnav{
	/*opacity: 0.7;*/
	height: auto;
	color: gray;
	background-color: rgba(180, 174, 253, 0.516);
	padding: 10px;
	/*transition: 0.2s;*/
}

.navbar-nav a{
	margin-right: 20px;
}
a.nav-link {
	color: rgb(63, 63, 63);
	padding: 10px;
}
a.nav-link:hover {
	color: rgb(63, 63, 63, 0.4);
}

/*.navbar-dark{
	background-color: pink;
	color: black;
}*/

.profilepic{
	height: 240px;
	width: 240px;
	box-shadow: 0px 10px 15px rgba(0, 1, 0, 0.5);
}

.aboutme h2{
	font-style: bold;
	font-weight: 600;
	margin-bottom: 20px;
	/*font-size: 50px;*/
	/* padding-left: 5%; */
	/* padding-top: 30px; */
	color: #3f3f3f;
	/*color: #da627d; pink*/
}
/*.	-link{
	display: inline-block;
}*/

.aboutme_content{
	padding: 50px 50px;
	color: gray;
	line-height: 200%;
	font-size: 17px;
	
}

.aboutme_content .par2{
	padding-bottom: 50px;
	border-width: 2px;
	border-bottom-style: dotted;
	border-color: gray;
}


.aboutme_skills {
	padding: 50px 50px;
}

.aboutme_skills img{
	width: 100px;
}
.aboutme_skills h2 {
	padding: 0;
	margin-bottom: 20px;
}
.card{
	width: 22rem;
	background-color: #6375e5;
	color: white;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 10px 15px rgba(99, 99, 99, 0.5);
	z-index: 1;
}

.card img{
	height: 220px;
	object-fit: cover;
	object-position: top;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#projects {
	position: relative;
	justify-content: center;
	row-gap: 30px;
}

.projects h2{
	font-style: bold;
	font-weight: 600;
	/*font-size: 50px;*/
	padding-left: 5%;
	padding-top: 40px;
	/*color: #da627d;*/
	color: #3f3f3f;
}

.projects-graphic-img {
	position: absolute;
	top: -20px;
	left: -80px;
	width: 400px;
	transform: scaleX(-1);
}

.projects-graphic-img2{
	position: absolute;
	right: -100px;
    bottom: -350px;
	width: 400px;
	transform: scaleX(-1);
}

.projects .card-title{
	text-align: center;
	height: 45px;
	font-weight: 600;
	margin-bottom: 15px;
}

.projects .card-text {
	height: 70px;
}

.projects .project-1 {
	object-position: left center;
}

.projects a {
	color: #4be4e2;
}

.projects a:hover {
	text-decoration: underline;
	color: #0e33ba91 !important;
}

.projects a.btn {
	color: #FFFFFF;
	border-radius: 10px !important;
    width: 100%;
}

.contactme h2{
	font-style: bold;
	font-weight: 600;	
	/*font-size: 50px;*/
	/*padding-left: 5%;*/
	padding-top: 40px;
	/*color: #da627d;*/
	color: #3f3f3f;
	letter-spacing: 2px;
}

.contactme .message{
	padding: 1% 6%;
	font-size: 17px;
}

.contactme h3 {
	font-size: 24px;
	font-weight: 600;
    color: #2b2b2b;
}

.map{
	border: 0;
	width: 270px;
}

.contactme a{
	color: black;
	text-decoration: none;
}

.contactme a:hover{
	color: white;
}

.footer_pane{
	background-color: #6375e5;
	height: auto;
	margin-top: 50px;
	color: white;
	padding: 20px 50px;
}

.footer_pane a{
	text-decoration: none;
	display: block;
	line-height: 40px;
	color: white;
}

.numbers li{
	line-height: 40px;
}

.footer_pane a:hover{
	color: gray;
}

.footer_pane li{
	list-style: none;
}

.footer_pane img{
	height: 26px;
	width: 36px;
	padding-right: 10px;
}

.social a{
	font-size: 12px;
}

.message-content li{
	list-style: none;
}

@media (min-width: 576px){
	.map{
		width: 350px;
	}
}	

@media (min-width: 768px){
	.aboutme_content{
		border-width: 2px;
		border-right-style: dashed;
		border-color: gray;
	}

	.aboutme_content .par2{
		padding-bottom: 0px;
		border-bottom-style: none;
	}
}

@media (min-width: 992px){
	.aboutme_content{
		border-width: 2px;
		border-right-style: dotted;
		border-color: gray;
	}

	.aboutme_content .par2{
		padding-bottom: 0px;
		border-bottom-style: none;
	}

	/*.contactme .message{
		border-width: 2px;
		border-right-style: dashed;
		border-color: gray;
	}*/
	#scrollnav {
		background-color: transparent;
		padding: 0;
		height: 90px;
	}
	.navbar-nav a{
		padding: 10px;
	}
}

@media screen and (max-width: 768px) {

	.home-group {
		padding: 100px 20px 50px;
	}
	.home-group h1 {
		text-align: left !important;
	}

	.aboutme_content {
		padding: 50px 20px;
	}

	.aboutme_skills {
		padding: 0px 20px 50px;
	}
	.aboutme_skills img {
		margin: 0 20px;
	}
}

