*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

body{
	background-color: #fcefef;
	background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.col-12{
	padding: 0;
}

.jumbotron{
	background: url(images/flowers.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	max-width: 100%;
	height: auto;
	margin: 0;
	color: white;
	padding-top: 20vh;
	padding-bottom: 16vh;
}

.jumbotron p{
	font-size: 18px;
}

#scrollnav{
	opacity: 1.0;
	height: 100px;
	color: gray;
	/*transition: 0.2s;*/
}

.navbar-nav a{
	margin-right: 20px;
	color: gray;
}

/*.navbar-dark{
	background-color: pink;
	color: black;
}*/

.profilepic{
	height: 250px;
	width: 250px;
	box-shadow: 0px 10px 15px rgba(0, 1, 0, 0.5);
}

.aboutme h1{
	/*font-family: 'Satisfy', cursive;*/
	font-style: bold;
	font-weight: 600;
	/*font-size: 70px;*/
	font-size: 50px;
	padding-left: 5%;
	padding-top: 30px;
	color: #3f3f3f;
	/*color: #da627d; pink*/
}
/*.nav-link{
	display: inline-block;
}*/

.aboutme_content{
	padding: 50px 50px;
	color: gray;
	line-height: 200%;
	font-size: 16px;
	
}

.aboutme_content .par2{
	padding-bottom: 50px;
	border-width: 2px;
	border-bottom-style: dashed;
	border-color: gray;
}

.aboutme_skills img{
	width: 100px;
}

.card{
	width: 22rem;
	background-color: #151e3f;
	color: white;
	border: none;
}

.card img{
	height: 230px;
}



.projects h1{
	/*font-family: 'Satisfy', cursive;*/
	font-style: bold;
	font-weight: 600;
	/*font-size: 70px;*/
	font-size: 50px;
	padding-left: 5%;
	padding-top: 40px;
	/*color: #da627d;*/
	color: #3f3f3f;
}

.projects .card-title{
	text-align: center;
}

.projects .btn{
	width: 50%;
}

.contactme h1{
	/*font-family: 'Satisfy', cursive;*/
	font-style: bold;
	font-weight: 600;	
	/*font-size: 70px;*/
	font-size: 50px;
	padding-left: 5%;
	padding-top: 20px;
	/*color: #da627d;*/
	color: #3f3f3f;
}

.contactme .message{
	padding: 2% 6%;
}

.map{
	border: 0;
	width: 270px;
}

.contactme a{
	color: black;
	text-decoration: none;
}

.contactme a:hover{
	color: white;
}

.footer_pane{
	background-color: #151e3f;
	height: auto;
	margin-top: 100px;
	color: white;
	padding: 20px 50px;
}

.footer_pane a{
	text-decoration: none;
	display: block;
	line-height: 40px;
	color: white;
}

.numbers li{
	line-height: 40px;
}

.footer_pane a:hover{
	color: gray;
}

.footer_pane li{
	list-style: none;
}

.footer_pane img{
	height: 26px;
	width: 36px;
	padding-right: 10px;
}

.social a{
	font-size: 12px;
}

@media (min-width: 576px){
	.map{
		width: 350px;
	}
}	

@media (min-width: 768px){
	.aboutme_content{
		border-width: 2px;
		border-right-style: dashed;
		border-color: gray;
	}

	.aboutme_content .par2{
		padding-bottom: 0px;
		border-bottom-style: none;
	}
}

@media (min-width: 992px){
	.aboutme_content{
		border-width: 2px;
		border-right-style: dashed;
		border-color: gray;
	}

	.aboutme_content .par2{
		padding-bottom: 0px;
		border-bottom-style: none;
	}

	.contactme .message{
		border-width: 2px;
		border-right-style: dashed;
		border-color: gray;
	}
}



